<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= feed_meta %>
    <%= seo %>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

    <link rel="stylesheet" href="<%= webpack_path :css %>" />
    <script src="<%= webpack_path :js %>" defer></script>
    <%= live_reload_dev_js unless Bridgetown.env.production? %>
  </head>
  <body>
    <div class="container" role="document">
      <%= render "header" %>

      <main id="main-content" role="main">
        <%= yield %>
      </main>
    </div>

    <%= render "footer" %>
  </body>
</html>
